<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>NexaBlack</string>
		<string>NexaBold</string>
		<string>NexaBook</string>
		<string>NexaLight</string>
		<string>NexaRegular</string>
		<string>NexaThin</string>
		<string>NexaXBold</string>
	</array>
</dict>
</plist>
